body{
    background-color: #354649 ;
    font-size: large;
    text-align: justify;
}
#main{
    background-color: #C3E0E5 ;
}
h1{
    text-align: center;
}
footer{
    font-size: large;
    height: 40px;
    width: 100%;
    background-color: rgb(32, 37, 41);
    color: white;
    text-align: center;
}
img{
    max-height: 250px;
}
#osszefoglalo{
    margin-left: 40px;
}

.row{
    margin-top: 40px;
}

#munka{
    margin-right: 40px;
}